h1 {
	color: blue;
	text-align: center;
	opacity: 0.66;
}
h2 {
	color: green;
	text-align: left;
}
body {
	background-color: orange;
}
font {
	color: red;
}
p	{
	color: red;
	text-align: left;
}
h3 {
	color:blue;
}