/* This is to add design to my website */

h1 {
	font-size: 70px;
	color: Red;
}

.checked {
    color: yellow;
}

td {
	border: 2px solid red;
	padding: 30px;
	font-size: 21px;

}

th{
	border: 2px solid red;
	font-size: 21px;
}

/*Used for my background picture */

body {
	background-image: url(http://www.littlescholarsllc.com/wp-content/uploads/2017/12/tutoring-3.jpg);
	background-size: 1350px 750px; 
	color: black;
}

table {
	text-align: center;
	margin-left: 200px;
	margin-top: 65px;
}
/*This is for the styling of the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	border: 2px solid white;
	width: 84%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
	font-size: 20px;
	font-family: Times New Roman;
}

li a:hover {
    background-color: blue;
}
/* This is used for the styling of the navigation bar */
.search input[type=text]{
    padding: 8px;
    border: 5px solid red;
    margin-top: 7px;
    margin-right: 16px;
	margin-left: 10px;
    font-size: 20px;
}

.input{
    background-color: red;
    border: none;
    color: white;
    padding: 5px 5px;
	margin-top: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table {
	font-weight: bold;
}
