h1 {
	font-size: 70px;
	color: Red;
}

body {
	background-image: url(https://cdn.trolleytours.com/wp-content/uploads/2016/06/old-jail-stop-1-600x580.jpg);
	background-size: 1350px 850px;
	color: white;
	font-size: 20px;
	
}

p{
	font-weight: bold;
	color: orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	border: 2px solid white;
	width: 53%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

.box{
	border: 10px dotted pink;
    padding: 9px;
    margin: 5px;
	
} 
