h1 {
	color: Red;
	font-family: Georgia;
}

body {
	font-family: Times New Roman;
	background-color: grey;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
	background-color: black;
}

li a{
	display: block;
	color: white;
    padding: 50px 5px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: white;
}
 img {
	 width:800px;
	 height: 500px;
 }