/*Used for styling of the main page */
h1 {
	color: Red;
	font-family: Georgia;
	text-align: left;
	font-size: 70px;
}
/*Used for background picture */
body {
	font-family: Times New Roman;
	font-size: 20px;
	color: black;    
	background-image: url(https://media.wired.com/photos/5932988b9be5e55af6c261cb/master/pass/learning-styles.jpg);
	background-size: 1450px 850px;
	
}
/* Used for styling of navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	border: 2px solid white;
	width: 54%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}
/* Used to style the bottom images */
.column {
	float: left;
	width: 25%;
	padding: 5px;
}
/* Used for box around text on main page */
.box {
    width: 1280px;
    border: 5px solid red;
    padding: 9px;
    margin: 3px;
}
/* used for words under pictures */
figcaption {
	font-size: 21 px;
	color: blue;
	font-weight: bold;
}
