h1 {
	color: Red;
	font-family: Georgia;
	text-align: left;
	font-size: 70px;
}

body {
	font-family: Times New Roman;
	background-color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

body {
    background-image: url(https://media.wired.com/photos/5932988b9be5e55af6c261cb/master/pass/learning-styles.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}